.Contentbackground-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .form-container {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
  }
  
  .form-containertitle h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .form-container__form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    background-color: white;
  }
  
  input[type="text"]::placeholder,
  input[type="number"]::placeholder,
  textarea::placeholder {
    color: black;
  }
  
  label {
    color: white;
    margin-bottom: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #333;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  textarea:focus {
    border-color: #007bff;
    outline: none;
  }