 .Content__background-container {
    display: flex;
  }
  
  .form-container {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: left;
  }
  
  .form-container__title h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .form-container__form {
    display: flex;
    margin: 5%;
    flex-direction: column;
    color: black;
  }
 
  .form-container__form  span{
    display: flex;
    margin-top: 1%;
    color: black;
  }

  .form-container__form [type="text"],[type="number"]{
    background-color: white;
    width: 60%;
    height: 30px;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 2%;
  }

  .form-container__form [type="text"]:disabled{
     
  }

  .form-container__form textarea{
    background-color: white;
    width: 100%;
    min-height: 50px;
    max-height: 150px;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 2%;
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #333;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  textarea:focus {
    border-color: #007bff;
    outline: none;
  }