.purchases-container {
    display: flex;
    flex-wrap: wrap; /* Permitir el ajuste de las tarjetas */
}

.main-content {
    width: 100%; /* Ajustar el ancho para que ocupe todo el espacio disponible */
    padding: 20px;
}

.purchases-header {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.purchases-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centrar las tarjetas horizontalmente */
}

.purchase-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

.purchase-card h2,
.purchase-card p {
    color: black; /* Ensure all text inside purchase-card is black */
}

.read-more {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}