.view-user-container{
    border: 1px solid #020202;
    border-radius: 3vh;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    background-color: white;
    background-image: url('../../../public/img/El_quetzalFondo.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.user-container{
    padding: 10vh;
    display: flex;
    background-color: rgba(83, 80, 80, 0.5);
    border-radius: 10px;
    box-shadow: 0 10px 100px rgba(89, 180, 58, 1);
}

img{
    width: 100px;
    height: 100px;
    margin: 5vh;
}

.info-user{
    padding: 3vh;
    color: white;
    text-align: center;
}

.info-account{
    position: absolute;
    margin-top: 10vh;
    margin-right: 20%;
    color: rgba(89,180,58,1);
    text-align: center;
}
