.container-Credit {
    background-color: #D9D9D9;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .navbar-container-content {
    background-color: #333;  /* Color de fondo de la barra de navegación */
    padding: 10px;
  }
  
  .navbar-container-content ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 1%;
  }
  
  .navbar-item {
    padding: 10px;
  }
  
  .navbar-items a {
    color: white;
    text-decoration: none;
  }
  
  .navbar-items.active {
    background-color: #383838;
    border-radius: 5px;
  }
  
  .navbar-items:hover {
    background-color: #444;
  }
.Tabla{
    position: absolute;
    left: auto;
    top: 25%;
    display: flex;
    height: 50%;
}
  .container-content-credit {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-self:center;
    margin: 5%;
}